 * {
        border: 2px solid lightblue;
   margin: 0;
     padding: 0;
      box-sizing: border-box;
 }
      body {
        background-color: lightblue;
        font-family: Georgia, 'Times New Roman', Times, serif;
 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
}

nav, footer {
       background-color : silver;
        padding: 20px; 
        color : blue;
        text-align: center;
        width: 100%;
}
nav a {
        padding : 15px;
        font-size: 20px;
        text-decoration: none;
        color: blue;
        margin: 10px;
}
       nav a:hover {
        background-color: blue;
        color : green;
}
 h1 {
        text-align: center;
      }     
img {
         width: 400px;
        height: 400px;
         display : block;
        margin: 20px auto;
        border-radius: 100%;
        object-fit: cover;

}
 main-topic {
    color: blue;
    text-align : center;
 }
footer a {
        color: black;
}
   
